flask
flask_cors
mysql-connector-python
bcrypt
PyJWT
gunicorn
Flask-CORS
# for connecting to AWS RDS MySQL db
Flask-SQLAlchemy
Flask-Migrate
python-dotenv
mysql-connector-python
PyMySQL
# for connecting to langgraph and openai
langgraph
langchain-openai